<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.webbleen.ssm.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.webbleen.ssm.entity.User">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="avatar" jdbcType="VARCHAR" property="avatar" />
    <result column="birthday" jdbcType="TIMESTAMP" property="birthday" />
    <result column="brief" jdbcType="VARCHAR" property="brief" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="gender" jdbcType="VARCHAR" property="gender" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="username" jdbcType="VARCHAR" property="username" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from w_user
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
    insert into w_user (avatar, birthday, brief, 
      create_time, email, gender, 
      nickname, password, phone, 
      type, update_time, username
      )
    values (#{avatar,jdbcType=VARCHAR}, #{birthday,jdbcType=TIMESTAMP}, #{brief,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{email,jdbcType=VARCHAR}, #{gender,jdbcType=VARCHAR}, 
      #{nickname,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{type,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP}, #{username,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey">
    update w_user
    set avatar = #{avatar,jdbcType=VARCHAR},
      birthday = #{birthday,jdbcType=TIMESTAMP},
      brief = #{brief,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      email = #{email,jdbcType=VARCHAR},
      gender = #{gender,jdbcType=VARCHAR},
      nickname = #{nickname,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      username = #{username,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, avatar, birthday, brief, create_time, email, gender, nickname, password, 
    phone, type, update_time, username
    from w_user
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, avatar, birthday, brief, create_time, email, gender, nickname, password, 
    phone, type, update_time, username
    from w_user
  </select>
</mapper>